.Rproj.user
.Rproj
/.quarto/
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
# ignore docs/ rendered locally; GHA will publish to remote gh-pages
docs/
# ignore git_diff.txt potentially created by check_diffs() function
git_diff.txt
